menu "Virtual_3D_Accelerator"

config HW_ACCELERATOR
	tristate "Samsung Virtual 3D Accelerator driver"
	default n

config EMUL_LCD
	tristate "Samsung emulator LCD driver"
	default n

config EMUL_CODEC
	tristate "Samsung virtual codec driver for emulator"
	default n

endmenu

