menuconfig MARU
	tristate "MARU virtual device drivers for emulator"
	default n

config MARU_VIRTIO_TOUCHSCREEN
	tristate "MARU Virtio Touchscreen Driver"
	depends on MARU != n

config MARU_CAMERA
	tristate "MARU Camera Driver"
	depends on MARU != n && VIDEO_DEV && VIDEO_V4L2
	select VIDEOBUF_VMALLOC

config MARU_BACKLIGHT
	tristate "MARU Backlight Driver"
	depends on MARU && BACKLIGHT_CLASS_DEVICE
	default y
	help
		Say Y to enable the backlight driver of MARU.

config MARU_OVERLAY
	tristate "MARU overlay Driver"
	depends on MARU != n && VIDEO_DEV && VIDEO_V4L2 && !SPARC32 && !SPARC64

config MARU_VIRTIO_EVDI
	tristate "MARU VirtIO Emulator Virtual Device Interface Driver"
	depends on MARU != n

config MARU_VIRTIO_NFC
	tristate "MARU VirtIO Virtual NFC Device Driver"
	depends on MARU != n

config MARU_VIRTIO_SENSOR
	tristate "MARU VirtIO Emulator Sensor Device Driver"
	depends on MARU != n

config MARU_VIRTIO_HWKEY
	tristate "MARU Virtio HW Key Driver"
	depends on MARU != n

config MARU_VIRTIO_KEYBOARD
	tristate "MARU Virtio Keyboard Driver"
	depends on MARU != n

config MARU_BRILLCODEC
	tristate "MARU brillcodec driver"
	depends on MARU != n
