menuconfig MARU
	tristate "MARU virtual device drivers for emulator"
	default n

config MARU_LCD
	tristate "MARU LCD driver"
	depends on MARU != n

config MARU_CODEC
	tristate "MARU codec driver"
	depends on MARU != n

config MARU_TOUCHSCREEN
	tristate "MARU touchscreen driver"
	depends on MARU != n

config MARU_FB
	tristate "MARU framebuffer driver"
	depends on MARU != n
